/* 清除浮动 */

.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* 版心 */

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}


/* 背景 */

.back {
    background-image: url(../images/beijing.jpg);
    background-repeat: repeat-x;
    background-size: cover;
}