/* 搜索 */

.seek {
    text-align: center;
}

.seek-content {
    position: relative;
    border-bottom: 1px solid #f2f2f2;
    margin: 0 auto;
    width: 1250px;
}

.seek-content img {
    float: left;
    margin-top: 22px;
    margin-bottom: 23px;
    margin-right: 32px;
}

.seek-content a {
    display: block;
    float: left;
    width: 94px;
    height: 91px;
    line-height: 90px;
    font-size: 17px;
    color: #000000;
}

.seek-content a:hover {
    color: #31c27c;
}

.seek .seek-content .one {
    color: #ffffff;
    background-color: #31c27c;
}

.seek-content .last {
    margin-right: 24px;
}

.seek-content-input {
    float: left;
    width: 220px;
    height: 38px;
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
    margin: 26px 0;
    line-height: 38px;
}

.seek-content-input input {
    float: left;
    width: 174px;
    height: 36px;
    border: none;
    font-size: 14px;
    margin-left: 9px;
}

.seek-content .seek-content-input a {
    float: right;
    width: 35px;
    height: 36px;
}

.seek-content-input a button {
    float: right;
    width: 16px;
    height: 16px;
    border: none;
    background-image: url(../images/icon_sprite.png);
    background-repeat: no-repeat;
    background-position: 0px -40px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #ffffff;
}

.seek .seek-content .up {
    width: 78px;
}

.seek-content .dredge {
    width: 111px;
    height: 38px;
    font-size: 12px;
    background-color: #31c27c;
    color: #ffffff;
    line-height: 38px;
    margin-top: 24px;
    margin-bottom: 28px;
    margin-right: 10px;
}

.seek-content .dredge:hover {
    background-color: #2caf6f;
    color: #ffffff;
}

.seek-content .bag {
    width: 85px;
    height: 38px;
    font-size: 12px;
    line-height: 38px;
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
    margin-top: 24px;
    margin-bottom: 28px;
}

.seek-content .bag:hover {
    background-color: #ededed;
    color: #000000;
}

.seek-content .sp {
    position: absolute;
    display: block;
    top: -3px;
    left: 446px;
}

.seek-content .sp img {
    width: 37.13px;
    height: 14px;
}

.seek-content .three {
    position: relative;
}

.seek-content .three:hover+.client,
.client:hover {
    display: block;
}

.client {
    display: none;
    position: absolute;
    top: 68px;
    right: 678px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .35);
    border-radius: 4px;
    z-index: 2;
    background-color: #ffffff;
    display: none;
}

.client-top p {
    margin-bottom: 19px;
    margin-right: 16px;
}

.client-top p i {
    display: inline-block;
    vertical-align: -3px;
    width: 14px;
    height: 14px;
    margin-top: 4px;
    margin-left: 16px;
    margin-right: 9px;
}

.client-top p:first-child {
    margin-top: 15px;
}

.client-top p:first-child i {
    background-image: url(../images/kehuduan.png);
    background-position: 0 0;
}

.client-top p:nth-child(2) i {
    background-image: url(../images/kehuduan.png);
    background-position: 0 -30px;
}

.client-top p:last-child i {
    background-image: url(../images/kehuduan.png);
    background-position: 0 -61px;
}

.seek-content .client>a {
    display: block;
    width: 135px;
    height: 25px;
    color: #ffffff;
    background-color: #2ac691;
    margin-bottom: 18px;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    line-height: 25px;
    border-radius: 25px;
    font-size: 12px;
}

.seek-content .client>a:hover {
    background-color: #31c27c;
}


/* 导航 */

.twonav-content {
    text-align: center;
    padding-top: 17px;
    padding-bottom: 20px;
}

.twonav-content a {
    font-size: 15px;
    margin-right: 47px;
}

.twonav .twonav-content a:first-child {
    margin-left: 35px;
    color: #31c27c;
}

.twonav-content a:hover {
    color: #31c27c;
}


/* 歌单 */

.songlist {
    position: relative;
    background-color: #fafafa;
    background-image: url(../images/beijing.jpg);
    background-repeat: repeat-x;
}

.songlist-title {
    padding-top: 50px;
}

.songlist-title h1 {
    display: block;
    width: 157px;
    height: 31px;
    margin: 0 auto;
    background-image: url(../images/index_tit.png);
    background-position: -20px 0;
}

.songlist-two-nav {
    text-align: center;
    padding-top: 36px;
    padding-bottom: 34px;
}

.songlist-two-nav a {
    margin-right: 52px;
    font-size: 15px;
}

.songlist-two .songlist-two-nav a:first-child {
    color: #31c27c;
}

.songlist-two-nav a:hover {
    color: #31c27c;
}

.songlist-carousel-ph a {
    position: relative;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}

.songlist-carousel-ph a::after {
    display: none;
}

.songlist-carousel-ph a:hover::after {
    content: "";
    display: block;
    background-image: url(../images/cover_play@2x.png);
    background-size: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px;
    width: 70px;
    height: 70px;
}

.songlist-carousel-ph img {
    width: 224px;
    height: 224px;
    float: left;
    transition: all 0.6s;
}

.songlist-carousel-ph img:hover {
    transform: scale(1.1);
}

.songlist-carousel-ph a:last-child {
    margin-right: 0;
}

.songlist-carousel-bt {
    position: relative;
    padding-bottom: 91px;
}

.songlist-carousel-bt-one div {
    width: 224px;
    height: 41px;
    float: left;
    margin-right: 20px;
    padding-top: 7px;
}

.songlist-carousel-bt-one div:last-child {
    margin-right: 0;
}

.songlist-carousel-bt-one a:hover {
    color: #31c27c;
}

.songlist-carousel-bt-one div span {
    color: #b4b4b4;
    line-height: 28px;
}

.songlist-carousel-bt ol {
    position: absolute;
    top: 102px;
    right: 50%;
}

.songlist-carousel-bt ol a {
    float: left;
}

.songlist-carousel-bt ol li {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin: 0 8px;
}

.songlist-carousel-bt ol a:nth-child(1) li {
    background-color: #afafaf;
}

.songlist-carousel .songlist-carousel-bt ol li:hover {
    background-color: #afafaf;
}

.songlist-left,
.songlist-right {
    display: none;
}

.songlist:hover .songlist-left {
    display: block;
    position: absolute;
    top: 225px;
    left: 0;
    width: 79px;
    height: 108px;
    background-color: #ececec;
}

.songlist:hover .songlist-right {
    display: block;
    position: absolute;
    top: 225px;
    right: 0;
    width: 79px;
    height: 108px;
    background-color: #ececec;
}

.songlist-left button {
    height: 40px;
    width: 20px;
    background-color: #ececec;
    background-image: url(../images/icon_sprite.png);
    background-position: -20px -120px;
    margin: 34px 29px;
    border: none;
}

.songlist-right button {
    height: 40px;
    width: 20px;
    background-color: #ececec;
    background-image: url(../images/icon_sprite.png);
    background-position: 0px -120px;
    margin: 34px 29px;
    border: none;
}

.songlist .songlist-left:hover {
    background-color: #e0e0e0;
}

.songlist-left:hover button {
    background-color: #e0e0e0;
}

.songlist .songlist-right:hover {
    background-color: #e0e0e0;
}

.songlist-right:hover button {
    background-color: #e0e0e0;
}


/* 新歌首发 */

.newsong {
    position: relative;
}

.newsong-title {
    padding-top: 50px;
}

.newsong-title h1 {
    display: block;
    width: 157px;
    height: 31px;
    margin: 0 auto;
    background-image: url(../images/index_tit.png);
    background-position: -20px -50px;
}

.newsong-nav-one {
    float: left;
}

.newsong-nav-left {
    display: block;
    float: left;
    width: 123px;
    height: 38px;
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
    margin-top: 24px;
    margin-bottom: 40px;
}

.newsong-nav-left button {
    float: left;
    background-image: url(../images/icon_sprite.png);
    background-position: -60px -220px;
    width: 14px;
    height: 16px;
    border: none;
    margin-left: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
}

.newsong-nav-left i {
    float: right;
    display: block;
    width: 58px;
    height: 23px;
    line-height: 23px;
    margin-right: 17px;
    margin-top: 7px;
    font-weight: bold;
}

.newsong-nav-left:hover {
    background-color: #ededed;
}

.newsong-nav-left:hover button {
    background-color: #ededed;
}

.newsong-nav-right {
    float: left;
    font-size: 13px;
    margin-top: 35px;
    margin-bottom: 45px;
    margin-left: 256px;
}

.newsong-nav-right a {
    margin-right: 51px;
}

.newsong-nav .newsong-nav-right a:first-child {
    color: #31c27c;
}

.newsong-nav-right a:hover {
    color: #31c27c;
}

.newsong-content {
    padding-bottom: 61px;
}

.newsong-content-all {
    float: left;
    padding-bottom: 13px;
    padding-top: 12px;
    border-bottom: 1px solid #f2f2f2;
    box-sizing: border-box;
    margin-right: 30px;
}

.newsong-content .last {
    border-bottom: none;
}

.newsong-content .newsong-content-three {
    margin-right: 0;
}

.newsong-content-all>a {
    display: block;
    position: relative;
    float: left;
    width: 86px;
    height: 86px;
    margin-right: 14px;
    overflow: hidden;
}

.newsong-content-all>a::after {
    display: none;
}

.newsong-content-all>a:hover::after {
    content: "";
    display: block;
    background-image: url(../images/cover_play@2x.png);
    background-size: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px;
    width: 70px;
    height: 70px;
    transform: scale(.7) translateZ(0);
    transition-property: opacity, transform;
    transition-duration: .5s;
    zoom: 1;
}

.newsong-content-all img {
    width: 86px;
    height: 86px;
    transition: all 0.6s;
}

.newsong-content-all img:hover {
    transform: scale(1.1);
}

.newsong-content-one {
    float: left;
    width: 247px;
}

.newsong-content-one h3 {
    margin-top: 25px;
    margin-bottom: 11px;
}

.newsong-content-one h3 a:hover {
    color: #31c27c;
}

.newsong-content-one p {
    color: #999999;
}

.newsong-content-one p a {
    color: #999999;
}

.newsong-content-one p a:hover {
    color: #31c27c;
}

.newsong-content-last {
    float: right;
    width: 33px;
    font-size: 14px;
    color: #c2c2c2;
    margin-top: 36px;
    margin-bottom: 36px;
}

.newsong-left,
.newsong-right {
    display: none;
}

.newsong:hover .newsong-left {
    display: block;
    position: absolute;
    top: 240px;
    left: 0;
    width: 79px;
    height: 108px;
    background-color: #ececec;
}

.newsong:hover .newsong-right {
    display: block;
    position: absolute;
    top: 240px;
    right: 0;
    width: 79px;
    height: 108px;
    background-color: #ececec;
}

.newsong-left button {
    height: 40px;
    width: 20px;
    background-color: #ececec;
    background-image: url(../images/icon_sprite.png);
    background-position: -20px -120px;
    margin: 34px 29px;
    border: none;
}

.newsong-right button {
    height: 40px;
    width: 20px;
    background-color: #ececec;
    background-image: url(../images/icon_sprite.png);
    background-position: 0px -120px;
    margin: 34px 29px;
    border: none;
}

.newsong .newsong-left:hover {
    background-color: #e0e0e0;
}

.newsong-left:hover button {
    background-color: #e0e0e0;
}

.newsong .newsong-right:hover {
    background-color: #e0e0e0;
}

.newsong-right:hover button {
    background-color: #e0e0e0;
}

.newsong-content ol {
    position: absolute;
    bottom: 36px;
    right: 47%;
}

.newsong-content ol a {
    float: left;
}

.newsong-content ol li {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin: 0 8px;
}

.newsong-content ol a:nth-child(1) li {
    background-color: #afafaf;
}

.newsong .newsong-content ol li:hover {
    background-color: #afafaf;
}


/* 精彩推荐 */

.splendid {
    position: relative;
}

.splendid-title {
    padding-top: 50px;
}

.splendid-title h1 {
    display: block;
    width: 157px;
    height: 31px;
    margin: 0 auto;
    background-image: url(../images/index_tit.png);
    background-position: -20px -100px;
}

.splendid-content a {
    display: block;
}

.splendid-content {
    padding-top: 33px;
    padding-bottom: 68px;
}

.splendid-content a:first-child {
    float: left;
}

.splendid-content a:first-child img {
    width: 590px;
    height: 236px;
}

.splendid-content .last {
    float: right;
}

.splendid-content .last img {
    width: 590px;
    height: 236px;
}

.splendid-left,
.splendid-right {
    display: none;
}

.splendid:hover .splendid-left {
    display: block;
    position: absolute;
    top: 188px;
    left: 0;
    width: 79px;
    height: 108px;
    background-color: #ececec;
}

.splendid:hover .splendid-right {
    display: block;
    position: absolute;
    top: 188px;
    right: 0;
    width: 79px;
    height: 108px;
    background-color: #ececec;
}

.splendid-left button {
    height: 40px;
    width: 20px;
    background-color: #ececec;
    background-image: url(../images/icon_sprite.png);
    background-position: -20px -120px;
    margin: 34px 29px;
    border: none;
}

.splendid-right button {
    height: 40px;
    width: 20px;
    background-color: #ececec;
    background-image: url(../images/icon_sprite.png);
    background-position: 0px -120px;
    margin: 34px 29px;
    border: none;
}

.splendid .splendid-left:hover {
    background-color: #e0e0e0;
}

.splendid-left:hover button {
    background-color: #e0e0e0;
}

.splendid .splendid-right:hover {
    background-color: #e0e0e0;
}

.splendid-right:hover button {
    background-color: #e0e0e0;
}

.splendid-content ol {
    position: absolute;
    bottom: 36px;
    right: 47%;
}

.splendid-content ol a {
    float: left;
}

.splendid-content ol li {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin: 0 8px;
}

.splendid-content ol a:nth-child(1) li {
    background-color: #afafaf;
}

.splendid .splendid-content ol li:hover {
    background-color: #afafaf;
}


/* 新碟首发 */

.dvd-title {
    padding-top: 50px;
}

.dvd-title h1 {
    display: block;
    width: 157px;
    height: 31px;
    margin: 0 auto;
    background-image: url(../images/index_tit.png);
    background-position: -20px -150px;
}

.dvd-nav-left {
    float: left;
    font-size: 13px;
    margin-top: 35px;
    margin-bottom: 45px;
    margin-left: 380px;
}

.dvd-nav-left a {
    margin-right: 51px;
}

.dvd-nav .dvd-nav-left a:first-child {
    color: #31c27c;
}

.dvd-nav-left a:hover {
    color: #31c27c;
}

.dvd-nav-right {
    float: right;
}

.dvd-nav-right a {
    display: block;
    padding-top: 37px;
    padding-bottom: 34px;
}

.dvd-nav-right a button {
    display: block;
    float: right;
    width: 11px;
    height: 17px;
    background-image: url(../images/icon_sprite.png);
    background-position: -120px -40px;
    border: none;
    background-color: #f6f6f6;
    margin-left: 5px;
}

.dvd-nav-right a:hover {
    color: #31c27c;
}

.dvd-nav-right a:hover button {
    background-image: url(../images/icon_sprite.png);
    background-position: -120px -60px;
}

.dvd-content-show {
    float: left;
    width: 224px;
    /* height: 308px; */
    padding-bottom: 50px;
    margin-right: 20px;
}

.dvd-content-five,
.dvd-content-lt {
    margin-right: 0;
}

.dvd-content .dvd-content-four {
    padding-bottom: 30px;
}

.dvd-content .dvd-content-bt {
    padding-bottom: 26px;
}

.dvd-content-show>a {
    position: relative;
    display: block;
    overflow: hidden;
}

.dvd-content-show>a::after {
    display: none;
}

.dvd-content-show>a:hover::after {
    content: "";
    display: block;
    background-image: url(../images/cover_play@2x.png);
    background-size: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px;
    width: 70px;
    height: 70px;
}

.dvd-content-show a img {
    width: 224px;
    height: 224px;
    margin-bottom: 15px;
    transition: all 0.6s;
}

.dvd-content-show a img:hover {
    transform: scale(1.1);
}

.dvd-content-show h3 {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.dvd-content-show h3 a:hover {
    color: #31c27c;
}

.dvd-content-show p {
    margin-top: 5px;
    font-size: 14px;
    color: #9d9d9d;
}

.dvd-content-show p a {
    color: #9d9d9d;
}

.dvd-content-show p a:hover {
    color: #31c27c;
}


/* 排行榜 */

.ranklist-title {
    float: left;
    padding-top: 50px;
    padding-bottom: 33px;
    margin-left: 544px;
}

.ranklist-title h1 {
    display: block;
    width: 115px;
    height: 31px;
    background-image: url(../images/index_tit.png);
    background-position: -40px -200px;
}

.ranklist-top a {
    display: block;
    float: right;
    margin-top: 59px;
}

.ranklist-top a button {
    display: block;
    float: right;
    width: 11px;
    height: 17px;
    background-image: url(../images/icon_sprite.png);
    background-position: -120px -40px;
    border: none;
    background-color: #f6f6f6;
    margin-left: 5px;
}

.ranklist-top a:hover {
    color: #31c27c;
}

.ranklist-top a:hover button {
    background-image: url(../images/icon_sprite.png);
    background-position: -120px -60px;
}

.ranklist-bottom {
    padding-bottom: 57px;
}

.ranklist-bottom>div {
    float: left;
    margin-right: 20px;
}

.ranklist-one {
    width: 224px;
    height: 500px;
    background-image: url(../images/beijing2.jpg);
}

.ranklist-one-top {
    width: 105px;
    height: 55px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

.ranklist-one-top p {
    display: block;
    margin: 0 auto;
    width: 64px;
    height: 20px;
    background-image: url(../images/index_tit.png);
    background-position: 0 -300px;
    margin-bottom: 8px;
}

.ranklist-one-top h3 {
    font-size: 26px;
    font-weight: 400;
}

.ranklist-one-top h3 a {
    color: #ffffff;
}

.ranklist-one-middle {
    width: 36px;
    height: 2px;
    background-color: #ffffff;
    margin: 42px 94px;
}

.ranklist-bottom ol {
    margin-left: 30px;
}

.ranklist-bottom ol li {
    color: #fbf4f6;
    margin-bottom: 36px;
    font-size: 14px;
}

.ranklist-bottom ol li a:first-child {
    margin-left: 3px;
    color: #fbf4f6;
    font-size: 14px;
}

.ranklist-bottom ol li a:last-child {
    display: block;
    margin-top: 14px;
    color: #fbf4f6;
    font-size: 14px;
    margin-left: 15px;
}

.ranklist-two {
    width: 224px;
    height: 500px;
    background-image: url(../images/beijing2.jpg);
    background-position: -224px 0;
}

.ranklist-three {
    width: 224px;
    height: 500px;
    background-image: url(../images/beijing2.jpg);
    background-position: -448px 0;
}

.ranklist-four {
    width: 224px;
    height: 500px;
    background-image: url(../images/beijing2.jpg);
    background-position: -672px 0;
}

.ranklist-bottom .ranklist-five {
    width: 224px;
    height: 500px;
    background-image: url(../images/beijing2.jpg);
    background-position: -896px 0;
    margin-right: 0;
}


/* mv */

.mv {
    position: relative;
}

.mv-title {
    padding-top: 50px;
}

.mv-title h1 {
    display: block;
    width: 58px;
    height: 23px;
    margin: 0 auto;
    background-image: url(../images/index_tit.png);
    background-position: -69px -250px;
}

.mv-nav {
    font-size: 13px;
    margin-top: 42px;
    margin-bottom: 34px;
    margin-left: 380px;
}

.mv-nav a {
    margin-right: 51px;
}

.mv-nav a:first-child {
    color: #31c27c;
}

.mv-nav a:hover {
    color: #31c27c;
}

.mv-content {
    padding-bottom: 33px;
}

.mv-content>div {
    float: left;
    margin-right: 20px;
}

.mv-content>div:nth-child(5) {
    margin-right: 0;
}

.mv-content .mv-last {
    margin-right: 0;
}

.mv-content>div>a {
    display: block;
    position: relative;
    width: 224px;
    height: 126.66px;
    padding-bottom: 19px;
    overflow: hidden;
}

.mv-content>div>a::after {
    display: none;
}

.mv-content>div>a:hover::after {
    content: "";
    display: block;
    background-image: url(../images/cover_play@2x.png);
    background-size: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px;
    width: 70px;
    height: 70px;
}

.mv-content>div a img {
    width: 224px;
    height: 126.66px;
    transition: all 0.6s;
}

.mv-content>div a img:hover {
    transform: scale(1.1);
}

.mv-content>div h3 {
    padding-bottom: 9px;
    font-weight: 400;
    font-size: 14px;
}

.mv-content>div h3 a:hover {
    color: #31c27c;
}

.mv-content>div p {
    padding-bottom: 10px;
}

.mv-content>div p a {
    font-size: 14px;
    color: #999999;
}

.mv-content>div p a:hover {
    color: #31c27c;
}

.mv-content>div i {
    display: block;
    color: #999999;
    font-size: 14px;
    padding-bottom: 31px;
}

.mv-content>div i button {
    display: block;
    float: left;
    width: 19px;
    height: 12px;
    background-image: url(../images/icon_sprite.png);
    background-position: -180px -20px;
    border: none;
    background-color: #fdfdfd;
    margin-top: 1px;
    margin-right: 5px;
}

.mv-content ol {
    position: absolute;
    bottom: 36px;
    right: 47%;
}

.mv-content ol a {
    float: left;
}

.mv-content ol li {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #e1e1e1;
    border-radius: 50%;
    margin: 0 8px;
}

.mv-content ol a:nth-child(1) li {
    background-color: #afafaf;
}

.mv .mv-content ol li:hover {
    background-color: #afafaf;
}

.mv-left,
.mv-right {
    display: none;
}

.mv:hover .mv-left {
    display: block;
    position: absolute;
    top: 280px;
    left: 0;
    width: 79px;
    height: 108px;
    background-color: #ececec;
}

.mv:hover .mv-right {
    display: block;
    position: absolute;
    top: 280px;
    right: 0;
    width: 79px;
    height: 108px;
    background-color: #ececec;
}

.mv-left button {
    height: 40px;
    width: 20px;
    background-color: #ececec;
    background-image: url(../images/icon_sprite.png);
    background-position: -20px -120px;
    margin: 34px 29px;
    border: none;
}

.mv-right button {
    height: 40px;
    width: 20px;
    background-color: #ececec;
    background-image: url(../images/icon_sprite.png);
    background-position: 0px -120px;
    margin: 34px 29px;
    border: none;
}

.mv .mv-left:hover {
    background-color: #e0e0e0;
}

.mv-left:hover button {
    background-color: #e0e0e0;
}

.mv .mv-right:hover {
    background-color: #e0e0e0;
}

.mv-right:hover button {
    background-color: #e0e0e0;
}


/* 底部 */

.footer {
    background-color: #333333;
}

.footer-top {
    border-bottom: 1px solid #353535;
}

.footer-top>div {
    float: left;
}

.footer-top-right {
    margin-right: calc(124px - 64px);
}

.footer-top-right h3 {
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    padding-top: 82px;
    padding-bottom: 54px;
}

.footer-top-right .footer-top-zero>div {
    float: left;
    margin-right: 58px;
    text-align: center;
    padding-bottom: 89px;
}

.footer-top-right .footer-one a:first-child {
    display: block;
    width: 36px;
    height: 39px;
    padding-bottom: 4px;
    background-image: url(../images/footer.png);
    background-position: -3px -10px;
    margin: 0 auto;
}

.footer-top-right .footer-one:hover a:first-child {
    background-image: url(../images/footer.png);
    background-position: -3px -59px;
}

.footer-top-right .footer-top-zero a:last-child {
    display: block;
    color: #999999;
    padding-top: 18px;
}

.footer-top-right .footer-top-zero>div:hover a:last-child {
    color: #31c27c;
}

.footer-top-right .footer-two a:first-child {
    display: block;
    width: 46px;
    height: 40px;
    padding-bottom: 3px;
    background-image: url(../images/footer.png);
    background-position: -92px -6px;
    margin: 0 auto;
}

.footer-top-right .footer-two:hover a:first-child {
    background-image: url(../images/footer.png);
    background-position: -92px -55px;
}

.footer-top-right .footer-three a:first-child {
    display: block;
    width: 37px;
    height: 43px;
    background-image: url(../images/footer.png);
    background-position: -190px -3px;
    margin: 0 auto;
}

.footer-top-right .footer-three:hover a:first-child {
    background-image: url(../images/footer.png);
    background-position: -190px -52px;
}

.footer-top-right .footer-four a:first-child {
    display: block;
    width: 34px;
    height: 43px;
    background-image: url(../images/footer.png);
    background-position: -279px -5px;
    margin: 0 auto;
}

.footer-top-right .footer-four:hover a:first-child {
    background-image: url(../images/footer.png);
    background-position: -279px -54px;
}

.footer-top-right span {
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}

.footer-top-bt {
    padding-top: 56px;
    padding-bottom: 63px;
}

.footer-top-bt a {
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}

.footer-top-bt a:first-child {
    margin-right: 30px;
}

.footer-top-bt a:hover {
    color: #31c27c;
}

.footer-top-md {
    margin-right: calc(186px - 80px);
}

.footer-md>div {
    float: left;
    margin-right: 59px;
    padding-top: 1px;
    padding-bottom: 24px;
}

.footer-md>div a:first-child {
    display: block;
    width: 40px;
    height: 42px;
    background-image: url(../images/footer.png);
    background-position: -370px -4px;
    margin: 0 auto;
}

.footer-md>div:hover a:first-child {
    background-image: url(../images/footer.png);
    background-position: -370px -53px;
}

.footer-md .md-two a:first-child {
    width: 34px;
    background-image: url(../images/footer.png);
    background-position: -464px -5px;
}

.footer-md .md-two:hover a:first-child {
    background-image: url(../images/footer.png);
    background-position: -464px -54px;
}

.footer-md .md-three a:first-child {
    width: 34px;
    background-image: url(../images/footer.png);
    background-position: -563px -4px;
}

.footer-md .md-three:hover a:first-child {
    background-image: url(../images/footer.png);
    background-position: -563px -53px;
}

.footer-top-md .footer-md a:last-child {
    display: block;
    color: #999999;
    padding-top: 18px;
}

.footer-top-md .footer-md>div:hover a:last-child {
    color: #31c27c;
}

.footer-md-bt {
    padding-bottom: 49px;
}

.footer-md-bt a {
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}

.footer-md-bt a:first-child {
    margin-right: 30px;
}

.footer-md-bt a:hover {
    color: #31c27c;
}

.footer-top-md span {
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
    padding-bottom: 56px;
}

.footer-top-md>a {
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}

.footer-top-md>a:hover {
    color: #31c27c;
}

.footer-top-left h3 {
    color: #999999;
    font-size: 15px;
    font-weight: 400;
    padding-top: 82px;
    padding-bottom: 54px;
}

.footer-left {
    width: 292px;
}

.footer-left a {
    display: block;
    float: left;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
    margin-bottom: 21px;
}

.footer-left a:hover {
    color: #31c27c;
}

.footer-left a:nth-child(1) {
    width: 69px;
    margin-right: 32px;
}

.footer-left a:nth-child(2) {
    width: 90px;
    margin-right: 17px;
}

.footer-left a:nth-child(3) {
    margin-right: 0;
}

.footer-left a:nth-child(4) {
    width: 69px;
    margin-right: 32px;
}

.footer-left a:nth-child(5) {
    width: 90px;
    margin-right: 17px;
}

.footer-left a:nth-child(7) {
    width: 69px;
    margin-right: 32px;
}

.footer-left a:nth-child(8) {
    width: 90px;
    margin-right: 17px;
}

.footer-left a:nth-child(9) {
    margin-right: 0;
}

.footer-left a:nth-child(10) {
    width: 69px;
    margin-right: 32px;
}

.footer-left a:nth-child(11) {
    width: 90px;
    margin-right: 17px;
}

.footer-left a:nth-child(12) {
    margin-right: 0;
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    color: #999999;
}

.footer-bottom p a {
    color: #999999;
}

.footer-bottom p a:hover {
    color: #31c27c;
}

.footer-bottom span {
    display: block;
    color: #999999;
    margin-top: 18px;
    margin-bottom: 14px;
}

.footer-bottom span a {
    color: #999999;
}

.footer-bottom span a:hover {
    color: #31c27c;
}

.footer-bottom h3 {
    display: block;
    color: #999999;
    font-weight: normal;
    margin-bottom: 33px;
}

.footer-bottom h3 a {
    color: #999999;
}

.footer-bottom h3 a:hover {
    color: #31c27c;
}